
body {
    background-image: url('assets/images/table.png');
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    color: goldenrod;
    font-size: 3.5rem;
}

h2 {
    color: goldenrod;
    font-size: 2.5rem;
}

button {
    background-color: goldenrod;
    border: none;
    color: #016f32;
    font-weight: bold;
    font-size: 1.2rem;
}

.game-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: flex-start;
    gap: 1rem;
}

.status {
    flex-basis: 100%;
    order: 1;
    text-align: center;
    margin: 1rem 0;
}

.hand {
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 240px;
}

.bet {
    margin-top: 1rem;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.balance {
    font-size: 1.7rem;
}

button:hover {
    background-color: #ffdb4d;
    cursor: pointer;
}

.duck-container {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    bottom: -0%;
}

#rubberduck {
    background-image: url("assets/images/rubberduck-tophat.png");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    width: 10vw;
    aspect-ratio: 12/15;
    max-width: 12rem; 
    max-height: 15rem;
}

@media (max-width: 800px) {
    .duck-container {
        position: static;
        margin: 1rem auto 2rem;
        width: fit-content;
    }

    .game-area {
        flex-direction: column;
        align-items: center;
    }
}